---
import Container from "@components/container.astro";
import { Astronav } from "astro-navbar";

---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
          <span
            class="text-slate-500 text-sm">a project by <a href="https://lang.agency" target="_blank">lang.agency</a></span>
      </div>
    </Astronav>
  </header>
</Container>
