<footer class="my-20">
  <p class="text-center text-xs text-slate-500 mt-1">
    by
    <a
      href="https://twitter.com/jsjoeio"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      @jsjoeio
    </a>
  </p>
</footer>
