input[type="range"]::-webkit-slider-thumb {
  transform: scale(1.5); /* makes thumb larger */
}

input[type="range"] {
  accent-color: black;
  cursor: pointer;
  width: 90%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #6eabda;
  /* background-color: #5d8fb6; */
  height: 1rem;
}
